h1 {
    color: '$color';
    font-size: '$font_size';
    background-color: '$background_color';
  }

  p {
    color: '$color';
    font-size: '$font_size';
    background-color: '$background_color';
  }